
.card{
    transition: all 0.3s linear;
}
.card:hover{
    transform: translateY(-15px);
}

.FadeOut {
  animation: fadeIn 0.5s ease-in-out;
  bottom: 0;
}

.FadeIn {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    bottom: -60px;
  }
  to {
    bottom: 0;
  }
}

@keyframes fadeOut {
  from {
    bottom: 0;
  }
  to {
    bottom: -60px;
  }
}

